{% set tilePrice = entry.tilePrice.one() %}
{% set offers = tilePrice.offer.all() %}

<div class="tile tile-price">
	<div class="front">
		<div class="content block-split">
			<div class="bg-secondary child-centered">
				<h2>{{ tilePrice.title }}</h2>
			</div>
			<div class="tile inverted child-centered">
				<dl class="offers">
					{% for offer in offers %}
						<div>
							<dt>
								<h3>{{ offer.title }}</h3>
							</dt>
							<dd>
								{% set price = offer.price.amount | float / 100 %}
								{{ price|currency(offer.price.currency,stripZeros=true)}}/{{ offer.length}}
							</dd>
						</div>
					{% endfor %}
				</dl>
			</div>
		</div>
	</div>
	<div class="back">
		<div class="content">
			<h3>{{ tilePrice.subtitle }}</h3>
			<p>{{ tilePrice.description }}</p>
		</div>
	</div>
</div>
