{% set tileWhen = entry.tileWhen.one() %}
{% set tileWhenImg = tileWhen.icon.one() %}

<div class="tile tile-when inverted">
	<div class="front">
		<div class="content">
			<h2>{{ tileWhen.title }}</h2>
			<h3>{{ tileWhen.subtitle }}</h3>
			<p>{{ tileWhen.description }}</p>
			<span class="arrow"></span>
		</div>
	</div>
	<div class="back">
		<div class="content">
			{% if tileWhenImg %}
				<div class="icon" style="-webkit-mask-image: url({{ tileWhenImg.getUrl() }});mask-image: url({{ tileWhenImg.getUrl() }})"></div>
			{% endif %}
			{{ tileWhen.linkText }}
		</div>
	</div>
</div>
