{% set address = entry.address.one() %}

<div class="address inverted">
	<h2>{{ address.title }}</h2>
	<h3>
		{{address.addressLine1}}
		<div>{{address.addressLine2}}
			{{address.postalCode}}<div>
				{{address.locality}}
			</h3>
		</div>
